# Ignore Gradle project-specific cache directory
.gradle

# Gradle wrapper JAR (downloaded by CI)
gradle/wrapper/gradle-wrapper.jar

# Ignore Gradle build output directory
build

.idea

local.properties
app/debug
app/release
signing.properties
app/signing-key.jks
certificates
.venv
